XMLFile/RECHNUNGEN.DTD

<!ELEMENT RECH (RENR,RDAT,KNR,KNAME,PLZ,ORT,STRASSE,ARTNR,ARTBEZ,BMENGE,ERBET)>
<!ELEMENT RENR (#PCDATA)>
<!ELEMENT RDAT (#PCDATA)>
<!ELEMENT KNR (#PCDATA)>
<!ELEMENT KNAME (#PCDATA)>
<!ELEMENT PLZ (#PCDATA)>
<!ELEMENT ORT (#PCDATA)>
<!ELEMENT STRASSE (#PCDATA)>
<!ELEMENT ARTNR (#PCDATA)>
<!ELEMENT ARTBEZ (#PCDATA)>
<!ELEMENT BMENGE (#PCDATA)>
<!ELEMENT ERBET (#PCDATA)>